alembic
asgi_lifespan
argon2_cffi
asyncpg
bcrypt==4.3.0
black
colorama
email-validator
fastapi==0.95.2
greenlet
httpx
isort
loguru
mypy
passlib==1.7.4
pre-commit
pydantic==1.10.13
python-dotenv
python-decouple
python-jose
python-slugify
pytest
pytest-asyncio
pytest-cov
pytest-xdist
SQLAlchemy==2.0.0b3
trio
uvicorn
